{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}{% endblock %}

{% block body %}
    <body>
        <div class="justify text-center">
            <h1> Agence Lorem </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores, aspernatur at, cumque
                distinctio earum fuga harum impedit inventore molestiae officiis omnis perferendis provident quae quo
                reiciendis sed velit voluptates!
            </p>
        </div>
    </body>
{% endblock %}
