{% extends 'base.html.twig' %}

{% block title 'Tous Nos Biens' %}

{% block body %}
    <body>

    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container mt-4">
        <h1>Tous Nos Biens </h1>

        <div class="row">
            {% for property in properties %}
                <div class="col-md-4">
                    {% include 'property/_property.html.twig' %}
                </div>
            {% endfor %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(properties)}}
        </div>
    </div>
    </body>
{% endblock %}

